<div class="container">
  <div class="card-panel z-depth-2">
    <h4 class="teal-text text-darken-2">Dettagli Contenuto</h4>

    <p><strong>Titolo:</strong> <%= @content.titolo %></p>
    <p><strong>Descrizione:</strong> <%= @content.descrizione %></p>
    <p><strong>Prezzo:</strong> <%= number_to_currency(@content.price) %></p>

    <div class="section">
      <%= link_to "Modifica", edit_content_path(@content), class: "btn-small blue" %>
      <%= link_to "Elimina", content_path(@content), method: :delete, data: { confirm: "Sei sicuro?" }, class: "btn-small red" %>
      <%= link_to "Indietro", contents_path, class: "btn-small grey" %>
    </div>
  </div>
</div>
