<div class="row">
  <div class="col l6 offset-l3 s12">
    <div class="card-panel z-depth-2">
      <h4 class="center-align teal-text text-darken-2">Accesso</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "col s12" }) do |f| %>

        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "validate" %>
        </div>

        <div class="input-field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "validate" %>
        </div>

<% if devise_mapping.rememberable? %>
  <p>
    <label>
      <%= f.check_box :remember_me, id: "remember_me" %>
      <span>Ricordami</span>
    </label>
  </p>
<% end %>



        <div class="input-field center">
          <%= f.submit "Accedi", class: "btn waves-effect waves-light purple darken-2" %>
        </div>
      <% end %>

      <div class="center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
